
@media (min-width: 1919px) {
    
    
    
    
	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1269px) {	  
    

.main-menu ul.navbar-nav li a{
    padding: 35px 14px;
    font-size: 15px;
}
.topbar-left ul li a{
    font-size: 16px;
}
.panel-body {
    font-size: 16px;
}
.slide-btn.login-btn
{
    font-size: 16px;
}
.header-area.stick .main-menu ul.navbar-nav li a {
    padding: 30px 14px;
}
.intro-content {
    margin-top: -100px;
}
.number h3
{
    font-size: 28px;
}
.cstm-offset
{
    font-size: 24px;
}
.number small
{
    font-size: 14px;
}
.font-size-19
{
    font-size: 19px;
}
.header-right-link {
    width: 180px;
    margin-left: 20px;
}    
.support-services .support-content h4 {
    font-size: 18px;
}
.machine-text {
    margin-top: 0px;
}       
.intro-area-2 .intro-content {
    width: 100%;
    height: 100%;
    min-height: 640px;
    object-fit: cover;
}    
.intro-area-2 .slider-images img {
    width: 100%;
    height: 100%;
    min-height: 640px;
    object-fit: cover;
}    
.about-2 .about-content {
    padding: 80px 40px 80px 50px;
}       
.blog-meta span {
    font-size: 12px;
    padding-right: 5px;
}    
.blog-meta {
    padding: 4px 10px;
}    
.blog-content a h4 {
    font-size: 18px;
}   
.intro-area-3 .layer-1 h2 {
    margin: 0 auto 10px;
    font-size: 44px;
    max-width: 600px;
    line-height: 52px;
}    
.ready-btn {
    margin-top: 0px;
}    
.intro-area-3 .slider-content {
    margin-top: -60px;
}    
.blog-content {
    padding: 30px 20px;
}
.right-side {
    padding-left: 20px;
}     
.contact-icon {
    padding: 30px 20px 30px;
}       
.add-content h3 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 30px;
    margin-top: 0px;
}    
.project-dec h4 {
    font-size: 20px;
}   
.main-menu ul.nav > li> a.pages::after {
    font-size: 12px;
    right: -2px;
}    
.single-service {
    padding: 40px 25px;
} 
.overview-wrapper h3 {
    font-size: 26px;
    line-height: 36px;
}     
    
    
    
    
    
    
    
    
    
    
    
    
}




/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.number h3
{
    font-size: 26px;
}
.cstm-offset
{
    font-size: 22px;
}
.number small
{
    font-size: 14px;
}
.font-size-19
{
    font-size: 17px;
}
.logo a {
    padding: 10px 0;
}
.main-menu ul.navbar-nav li a{
    font-size: 13px;
}
.main-menu ul.nav li ul.sub-menu
{
    left: -99px;
}
.main-menu ul.nav li ul.sub-menu li a
{
    font-size: 12px;
}
.breadcrumb ul li
{
    font-size: 17px;
}
.topbar-left ul li a{
    font-size: 14px;
}
.panel-body {
    font-size: 14px;
}
.slide-btn.login-btn
{
    font-size: 14px;
}
    .header-area.stick .logo a{
       padding: 10px 0; 
    }
.topbar-left ul li a {
    margin-right: 10px;
}
.header-right-link {
    width: 156px;
    margin-left: 10px;
    padding: 20px 0px;
}
.header-right-link .s-menu {
    padding: 10px 10px;
    font-size: 14px;
}
.header-right-link a.main-search {
    font-size: 15px;
}
.main-menu ul.navbar-nav li a, 
.header-area.stick .main-menu ul.navbar-nav li a {
    font-size: 12px;
    padding: 23px 7px;
}
.main-menu > ul.navbar-nav >li >a::before,
.header-area.stick .main-menu > ul.navbar-nav >li >a::before {
    left: 9px;
    bottom: 25px;
}
.header-area.stick .header-right-link {
    padding: 20px 0px;
}
.layer-1 h2 {
    font-size: 27px;
    line-height: 36px;
    max-width: 460px;
    margin-bottom: 10px;
}
.layer-2 p {
    font-size: 17px;
    line-height: 28px;
    max-width: 400px;
    margin-bottom: 0px;
}
.intro-content {
    margin-top: -70px;
}
.ready-btn {
    padding: 8px 10px;
}   
.support-all .right-headline {
    margin-right: 0px;
    padding-bottom: 10px;
}   
.section-headline.right-headline h3- {
    font-size: 24px;
    line-height: 36px;
}   
.support-services {
    padding-right: 15px;
}
.support-services .support-content h4 {
    font-size: 16px;
}    
.cha-title {
    font-size: 17px;
}  
.tab-menu ul.nav li a {
    padding: 12px 8px;
}    
.machine-text h3 {
    font-size: 24px;
    line-height: 32px;
}    
.machine-text {
    margin-top: 0px;
}    
.fun_text {
    padding: 20px 10px;
}    
.fun_text .counter {
    font-size: 28px;
    line-height: 30px;
}    
.fun_text .counter-icon {
    font-size: 30px;
    line-height: 32px;
}    
.fun_text > h4 {
    font-size: 15px;
}
.fun_text {
    margin-bottom: 10px;
}
.digital-wel {
    padding: 30px 15px;
}
.digital-content h4 {
    font-size: 18px;
}
.sub-head h3{
    font-size: 26px;
}    
.intro-area-2 .intro-content {
    width: 100%;
    height: 100%;
    min-height: 540px;
    object-fit: cover;
}    
.intro-area-2 .slider-images img {
    width: 100%;
    height: 100%;
    min-height: 540px;
    object-fit: cover;
}    
.about-content {
    padding: 70px 30px 70px 30px;
}        
.about-text {
    font-size: 14px;
} 
.intro-area-3 .intro-content {
    width: 100%;
    height: 100%;
    min-height: 540px;
    object-fit: cover;
}    
.intro-area-3 .slider-images img {
    width: 100%;
    height: 100%;
    min-height: 540px;
    object-fit: cover;
}
.intro-area-3 .layer-1 h2 {
    margin: 0 auto 10px;
    font-size: 44px;
    max-width: 600px;
    line-height: 52px;
}       
.intro-area-3 .slider-content {
    margin-top: -95px;
}    
.section-headline h3 {
    font-size: 30px;
}         
.blog-meta span {
    font-size: 12px;
}    
.overview-wrapper {
    margin-top: 0px;
}    
.overview-wrapper h3 {
    font-size: 28px;
}    
.count-num {
    font-size: 38px;
    line-height: 48px;
}    
.single-count {
    padding: 15px 10px;
}
.single-count h4 {
    font-size: 18px;
}
.breadcrumb {
    padding: 130px 0px 80px;
}
.page-head-left {
    margin-right: 0px;
}    
.single-well h3 {
    font-size: 30px;
}    
.down-btn {
    padding: 12px 10px;
}    
.single-page-head .clients-testi {
    padding: 20px 15px;
}    
.single-well h3 {
    font-size: 26px;
}    
.single-well h4 {
    font-size: 22px;
}    
.single-well.last-content {
    margin-top: 30px;
}    
.project-details h3 {
    font-size: 23px;
}    
.right-side {
    padding-left: 0px;
}    
.project-details h3 {
    font-size: 23px;
    line-height: 34px;
}       
.right-side {
    padding-left: 0px;
}    
.blog-search-option input {
    width: 75%;
}    
.recent-single-post .post-img {
    display: none;
}    
.recent-single-post .pst-content {
    padding-left:0px;
}    
.related-post-list .recent-single-post:last-child {
    padding: 0px 0px 0px 10px;
}    
.related-post-list .recent-single-post {
    padding: 0px 10px 0px 0px;
}    
.contact-icon {
    padding: 30px 10px 30px;
}    
.single-icon p {
    font-size: 14px;
    line-height: 28px;
}   
.footer-list {
    width: 100%;
    float: none;
}    
.subs-feilds {
    padding: 40px 10px;
} 
.suscribe-input input {
    width: 60%;
}
.suscribe-input button {
    font-size: 14px;
    width: 40%;
}    
.add-content h3 {
    font-size: 30px;
    line-height: 44px;
    max-width: 620px;
    margin-bottom: 30px;
    margin-top: 0px;
}    
.title1 {
    margin-bottom: 10px;
}    
.bg-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 480px;
    object-fit: cover;
}    
.main-menu ul.nav > li> a.pages::after {
    display:none;
    
}    
    
    
	
	
}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.container{
    padding-left: 0; 
    padding-right: 0;
}
.main-menu ul.navbar-nav li a{
    padding: 35px 14px;
    font-size: 15px;
}
.topbar-left ul li a{
    font-size: 16px;
}
.panel-body {
    font-size: 15px;
}
.slide-btn.login-btn
{
    font-size: 16px;
}
.header-area.stick .main-menu ul.navbar-nav li a {
    padding: 30px 14px;
}
.intro-content {
    margin-top: -100px;
}
.page-header h1
{
    font-size: 42px;
}
.number h3
{
    font-size: 26px;
}
.cstm-offset
{
    font-size: 22px;
}
.number small
{
    font-size: 14px;
}
.font-size-19
{
    font-size: 19px;
}

#page-inner
{
    margin: 0;
    padding: 0;
}
.logo {
    height: inherit;
    left: 0;
    padding: 0;
    position: absolute;
    top: 4px;
    z-index: 999999;
    max-width: 130px;
}
.logo a,
.header-two .logo a{
    padding: 0px;
}
.intro-bg{
	display: none;
}
.intro-area .bg-wrapper {
    float: none;
    width: 100%;
    height: 100%;
    min-height: 400px;
}
.bg-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 480px;
    object-fit: cover;
}
.bg-wrapper img, .intro-bg img {
    max-width: 100%;
    height: auto;
    opacity: 0.2;
}
.intro-content {
    margin-top: -115px;
}
.layer-1 h2 {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 15px;
}
.layer-2 p {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;
}	
.ready-btn {
    width: 125px;
    padding: 8px 10px;
    margin-top: 10px;
} 
.support-all .right-headline {
    margin-right: 0px;
}
.section-headline.right-headline h3 {
    font-size: 25px;
    line-height: 38px;
}    
.support-services {
    padding: 0px 0px 30px;
    width: 100%;
    float: none;
    padding-right: 0px;
}   
.section-headline h3 {
    font-size: 28px;
    line-height: 38px;
}    
.section-headline p {
    font-size: 15px;
}    
.single-service {
    padding: 30px 25px;
}    
.tab-menu ul.nav li {
    float: none;
    width: 100%;
}    
.tab-menu ul.nav li a {
    margin-left: 0px;
    margin-top: 30px;
}    
.machine-text h3 {
    font-size: 24px;
    line-height: 36px;
}
.add-actions {
    padding: 25px;
}
.fun_text {
    margin-bottom: 0px;
    margin-top: 30px;
}
.counter-image {
    margin-right: 0px;
    margin-bottom: 30px;
}    
.sub-head h3 {
    font-size: 26px;
}    
.sub-head {
    margin-bottom: 40px;
}    
.quote-area #contactForm input.last-part {
    margin-bottom: 20px;
}    
.footer-content {
    margin-bottom: 40px;
    overflow: hidden;
}    
.footer-list li a {
    font-size: 14px;
}        
.suscribe-input button {
    font-size: 14px;
}    
.last-content{
    margin-bottom: 0px;
}    
.intro-area-2 .intro-content {
    width: 100%;
    height: 100%;
    min-height: 500px;
    object-fit: cover;
}    
.intro-area-2 .slider-images img {
    width: 100%;
    height: 100%;
    min-height: 500px;
    object-fit: cover;
}    
.about-2 .about-image {
    min-height: 150px;
}    
.video-content {
    margin-top: -30px;
}
.about-2 {
    background-size: contain;
}    
.about-2 .about-content {
    padding: 50px 15px 80px 20px;
}    
.single-about {
    width: 100%;
    float: left;
    margin-bottom: 0px;
}       
.blog-meta span {
    font-size: 12px;
    padding-right: 5px;
}   
.blog-meta {
    margin-bottom: 10px;
}    
.blog-content {
    padding: 20px 20px;
}    
.blog-content a h4 {
    font-size: 18px;
    line-height: 28px;
}    
.intro-area-3 .intro-content {
    width: 100%;
    height: 100%;
    min-height: 580px;
    object-fit: cover;
}    
.intro-area-3 .slider-images img {
    width: 100%;
    height: 100%;
    min-height: 480px;
    object-fit: cover;
}
.intro-area-3 .layer-1 h2 {
    font-size: 28px;
    line-height: 38px;
}    
.ready-btn {
    margin-top: 0px;
}          
.intro-area-3 .slider-content {
    margin-top: -105px;
}
.support-all .left-headline {
    margin-right: 0px;
}    
.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 160px 0px 100px;
}  
.overview-wrapper h3 {
    font-size: 22px;
    line-height: 34px;
}       
.single-count {
    width: 100%;
    float: none;
    margin-bottom: 30px;
}   
.right-one {
    margin-left: 0px;
}    
.left-faq {
    padding-right: 0px;
}    
.right-faq {
    padding-left: 0px;
}    
span.q-text {
    font-size: 18px;
}   
.page-head-left {
    margin-right: 0px;
}    
.single-well h3 {
    font-size: 26px;
    line-height: 36px;
}    
.single-well h4 {
    font-size: 22px;
}    
.single-well.last-content {
    margin-top: 20px;
}
.project-details h3 {
    font-size: 24px;
}    
.right-side {
    padding-left: 0px;
    margin-top: 50px;
}    
.blog-details .blog-content h4 {
    font-size: 18px;
    line-height: 30px;
}    
blockquote {
    padding: 20px 15px 40px 50px;
}
blockquote::before {
    left: 8px;
}    
.blog-details .blog-content h5 {
    font-size: 17px;
}    
.related-post-list .recent-single-post {
    width: 100%;
    float: none;
    padding: 0px;
    margin-bottom: 30px;
}
.related-post-list .recent-single-post:last-child {
    padding:0px;
}
.threaded-comments {
    margin-left: 15px;
}    
.contact-icon {
    margin-bottom: 30px;
    padding: 30px 15px 30px;
}    
.map-area {
    margin-right: 30px;
    margin: 20px 0px 50px;
}    
.title1 {
    font-size: 17px;
    margin-bottom: 15px;
}    
.well-services {
    width: 100%;
    float: none;
    padding: 20px 0px;
}    
.well-services:nth-child(2n) {
    border-right: none;
    border-left: none;
    padding: 30px 0px;
}    
.add-content h3 {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 30px;
    margin-top: 0px;
}    
.call-us {
    font-size: 15px;
    margin-bottom: 20px;
}    
.call-us i {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    margin-right: 6px;
}    
.project-dec h4 {
    font-size: 20px;
}    
.footer-content.logo-footer {
    margin-right: 0px;
}       
.cstm-width-style
{
    height: 450px;
    width: 298px;
    overflow-y: scroll;
}    
    
    
    
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}   
    
    
    
    
    
    
    
    
    
}
 
